* {
  box-sizing: border-box;
}

.app-container {
  max-width: 850px;
  margin: 0 auto;
}

.board-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.output-area {
  display: flex;
  width: 100%;
}

.toolbar-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 0;
}

.toolbar-area .lang {
  cursor: pointer;
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
}

.toolbar-area .lang.active {
  background-color: #1baa2d;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,1);
}

.output-area textarea {
  padding: 10px;
  border-radius: 5px;
  /*border: 2px solid #ccc;*/
  font-size: 16px;
  font-family: Arial, sans-serif;
  resize: both;
  width: 100%;
  height: 200px;
}

.output-area textarea:focus-visible {
  border-color: unset;
}

.input-area {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.key {
  z-index: 10;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  position: relative;
  cursor: pointer;
  min-width: 40px;
  height: 40px;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}

.key * {
  z-index: 9;
}

.key .shift-value {
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 12px;
}

.tab, .backspace, .capslock, .enter, .shift, .control, .alt, .spacebar {
  background-color: #EEEEEE;
  color: #666666;
  font-size: 16px;
  font-weight: normal;
}

.tab, .alt-gr {
  width: 75px;
}

.spacebar {
  width: 383px;
}

.empty {
  width: 75px;
}

/* Стили для специфических клавиш */
.backspace {
  width: 100px;
}

.capslock {
  width: 95px;
}
.shift-left {
  width: 125px;
}



.enter, .control-left {
  width: 75px;
}
.control-right {

}

.alt {
  width: 50px;
}

.arrow {
  background: #9bb3ea
}
/* Стили для активных клавиш */
.key:active {
  background-color: #CCCCCC;
}

/* Стили для зажатых клавиш */
.key.active {
  background-color: #CCCCCC;
}

/* Стили для зажатых функциональных клавиш */
.capslock.active, .shift.active, .control.active, .alt.active {
  background-color: #999999;
  color: #FFFFFF;
}

/* Стили для зажатой клавиши пробела */
.spacebar.active {
  background-color: #999999;
  color: #FFFFFF;
}

.windows {
  background-image: url(./assets/icons/windows-icon.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
}
